In [69]:
#Q1

list1=[1,2,3,4,5,6,7,8,9]
for num in list1:
  if num % 2 != 0:
    print(num, end = " ")

1 3 5 7 9

In [13]:
#Q2
sum = 0
list2 = [1,2,3,4,5,6,7,8,9]
for i in range(0, len(list2)):
   sum = sum + list2[i]
print("Sum of all elements in given list: ", sum)

Sum of all elements in given list:  45

In [20]:
#Q3
list2 = [1,2,3,4,5,6,7,8,9]
list2.reverse()
print(list2)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [21]:
#Q3
list2 = [1,2,3,4,5,6,7,8,9]
print(list2[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
#Q4
list3 = [9,8,6,7,5,3,4,2]
list3.sort()
print(list3[-2::])

[8, 9]

In [44]:
#Q5
list3 = [9,8,6,7,5,3,4,2]
list3.sort()
print(list3[-2:-1])

[8]

In [47]:
#Q6
list5 = ["ashar","muneeb","saqlain","sami"]
list5.sort(reverse=True)
print(list5)

['saqlain', 'sami', 'muneeb', 'ashar']

In [72]:
#Q7
string=input("inter string :")
b=""
for i in string:
    if i not in b:
        b=b+i
print(b)

inter string :asharanis
ashrni

In [71]:
#Q8
ch = input("Please Enter Your Own Character : ")
if len(ch)==1:
  if(ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u' or ch == 'A'
       or ch == 'E' or ch == 'I' or ch == 'O' or ch == 'U'):
    print("The Given Character ", ch, "is a Vowel")
  else:
      print("The Given Character ", ch, "is a Consonant")
else:
  print("Enter only one character!")

Please Enter Your Own Character : g
The Given Character  g is a Consonant

In [73]:
#Q9num=(int(input("Enter length for factorial = ")))
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 9 is 362880

In [78]:
#Q10
list9=[]
n = int(input("Enter number of elements : "))
for i in range(n):
    ele = int(input("Enter element "))
    list2.append(ele)
list3=list1+list2
print(list3)

Enter number of elements : 1
Enter element 1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 12, 12, 12, 1]